<!DOCTYPE html>
<html ng-app="goAnalyser">
	<head>
		<script src="js/angular-scripts.js"></script>
		<script src="js/app-scripts.js"></script>
	</head>
	<body>
		<div ng-controller="MainController as main">
			<div style="margin-bottom: 30px;">
				<label>Url:</label> <input ng-model="main.goApi.url" style="width:250px" />
				<label>Username:</label> <input ng-model="main.goApi.username" style="width:250px" />
				<label>Password:</label> <input ng-model="main.goApi.password" type="password" style="width:250px" />
				<button type="button" ng-click="main.updateApiDetails()">Refresh</button>
			</div>
			<pipeline-group
				ng-repeat="pipeline_group in main.pipeline_groups"
				pipeline-group="pipeline_group">
			</pipeline-group>
		</div>
	</body>
</html>
